*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#00000001, #00000063), url(../img/mar-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container-menu{
    max-width: 1400px;
    padding: 3%;
    margin: auto;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-size: 70px;
    font-style: oblique;
    color: rgba(0, 132, 255, 0.325);
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: rgba(3, 3, 93, 0.499);
}