/* menu */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    background-image: linear-gradient(#00000001, #00000063), url(../img/mar-home.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container-menu{
    padding: 3%;
    margin: auto;
    background-color: rgb(3, 10, 62);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    font-size: 70px;
    font-style: oblique;
    color: rgba(0, 132, 255, 0.719);
    font-weight: bold;
}

nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: rgba(3, 3, 93, 0.499);
}

/* conteudo */
.conteudo p{
    color: white;
    margin: 60px 70px;
    font-size: 100px;
   
}

.conteudo span{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: #0721329f;
    padding: 60px 20px;
    font-size: 30px;
}




/* RODAPE */

/* contato */

.contato{
    padding: 0;
    margin: 0;
}


.stato{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;


}


.ftato div{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}


.ftato input, textarea{
    outline: unset;
    padding: 10px;
    min-width: 300px;
    max-height: 60px;
    border: 1px solid #c3e3fd;
    border-radius: 20px;
    opacity: 0.8;
    background-color:#c3e3fd;
    

}


.ftato input :focus, .ftato textarea :focus{
    background-color:#c3e3fd;
}

.ftato input[type="submit"]{
    background-color:#c3e3fd;
    color: gray;
    cursor: pointer;
}

.ftato .titulo{
    margin: 10px;
    color: #c3e3fd;
    font-size: 30px;
    font-style: oblique;
    border-radius: 20px;
}


footer {
    background-color:rgb(3, 10, 62) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 60px;
    padding:0%;

  }





