/* menu */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.container-menu{
    max-width: 1400px;
    padding: 3%;
    margin: auto;
    background-color: rgb(3, 3, 93);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .logo{
    font-size: 70px;
    font-style: oblique;
    color: rgba(0, 132, 255, 0.325);
    font-weight: bold;
}


nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: rgba(0, 132, 255, 0.325);
}

/* conteudo */

h1{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-style: oblique;
}

p{
    display: flex;
    margin: 20px 30px;
    font-style: normal;
    font-size: 22px;
    
}

/* integrantes */

h2{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-style: oblique;
}

img{
    display: flex;
    width: 15%;
    padding: 20px 30px;
   
    
}

.nomes, .rm{
    font-style: normal;
    font-size: 22px;
    margin: 30px;
}



