/* menu */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.container-menu{
    /* max-width: 1400px; */
    padding: 3%;
    margin: auto;
    background-color: rgb(3, 10, 62);
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

nav .logo{
    font-size: 70px;
    font-style: oblique;
    color: rgba(0, 132, 255, 0.719);
    font-weight: bold;
}


nav ul{
    list-style: none;
}

nav ul li{
    display: inline-block;
}

nav ul li a{
    padding: 10px 20px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    border-radius: 30px;
    transition: 0.6s;
}

nav ul li a:hover{
    background-color: rgba(0, 132, 255, 0.325);
}

/* conteudo */
body{
    background-color:#c3e3fd;
}

h1{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 20px;
    font-style: oblique;
}

p{
    display: flex;
    margin: 20px 30px;
    font-style: normal;
    font-size: 22px;
    text-align: center;
    
}

/* integrantes */

h2{
    display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 40px;
    font-style: oblique;
}

img{
    display: flex;
    margin-top: 20px;
    width: 30%;
    min-height: 300px;
    min-width: 300px;
}

.integrantes{
    display: flex;
    justify-content: center;
    

}

.nomes, .rm{
    font-style: normal;
    font-size: 22px;
    margin: auto;
    margin-top: auto;
}

.gu{
    margin-left: 150px;
}

.duda{
    margin-left: 125px;
    margin-top: 40px;
}

.vi{
    margin-left: 300px;
}





/* background-image: linear-gradient(#000000c4, #000000a3), url(../img/doacoes-agua.avif);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 50vh;
    margin-top: 30px;
    opacity: 0.9; */